Makefile
Makefile.in
aclocal.m4
compile
config.guess
config.log
config.status
config.sub
configure
src/.deps/
src/config.h*
src/stamp-h1
src/ssh-askpass-fullscreen
src/ssh-askpass-fullscreen.o
install-sh
libtool
ltmain.sh
missing
depcomp
autom4te.cache/
*.tar.gz
*.tar.bz2
